// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-item {
  margin-top: 3em;
  margin-bottom: 2em;
}

.check-out-button {
  font-weight: bold;
}